@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans|Open+Sans:400,600|Amatic+SC');


body {
    font-family: Open Sans, sans-serif;
    margin-top: 15px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #1fc8db; /* For browsers that do not support gradients */        
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    color: white;
    opacity: 0.95;

}

span {
    color: #2266DD;
}

h1 {
    font-family: Amatic SC, cursive;
    text-align: center;
    text-transform: uppercase;
    font-size: 75px;
    letter-spacing: 15px;
}

h2 {
    text-align: left;
    text-decoration: underline;
    color: wheat;
}

img {
    float: left;
    margin: 5%;
    width: 20%;
}

p {
    text-align: justify;
}